# notebook requirements
jupyter
jupyterlab
matplotlib~=3.4

# tensorflow/keras/tflite requirements
numpy<1.24,>=1.22
urllib3<2.0
tensorflow~=2.11.0
tensorflow-model-optimization~=0.7.2
protobuf<3.20,>=3.9.2
tflite~=2.10

# misc requirements
pytest
tqdm
